<div>
    <h2 id="page-heading">
        <span>Custs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-cust" [routerLink]="['/cust/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Cust
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="custs">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Name</span></th>
            <th><span>Addr</span></th>
            <th><span>Contact Number</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let cust of custs ;trackBy: trackId">
                <td><a [routerLink]="['/cust', cust.id, 'view' ]">{{cust.id}}</a></td>
                <td>{{cust.name}}</td>
                <td>{{cust.addr}}</td>
                <td>{{cust.contactNumber}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/cust', cust.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/cust', cust.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'cust', { outlets: { popup: cust.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
